# Life Expectancy Dataset

In [1]:
# import pandas
import pandas as pd

# create dataframe from csv
df = pd.read_csv(r"lifeexpectancy.csv")

In [2]:
# check dataframe shape
print(df.shape)

(335160, 12)

In [3]:
# show column info
print(df.columns)

Index(['Period', 'Country', 'Area type', 'Area code', 'Area name', 'Sex',
       'Sex code', 'Age band', 'Age group', 'Life expectancy',
       'Lower confidence interval', 'Upper confidence interval'],
      dtype='object')

In [4]:
# show the top of the dataframe
df.head()

,Period,Country,Area type,Area code,Area name,Sex,Sex code,Age band,Age group,Life expectancy,Lower confidence interval,Upper confidence interval
0,2001 to 2003,England,Local Areas,E06000001,Hartlepool,Male,1,1,<1,73.42,72.68,74.16
1,2001 to 2003,England,Local Areas,E06000001,Hartlepool,Male,1,2,01 to 04,72.90,72.21,73.58
2,2001 to 2003,England,Local Areas,E06000001,Hartlepool,Male,1,3,05 to 09,68.94,68.26,69.61
3,2001 to 2003,England,Local Areas,E06000001,Hartlepool,Male,1,4,10 to 14,63.97,63.30,64.65
4,2001 to 2003,England,Local Areas,E06000001,Hartlepool,Male,1,5,15 to 19,59.00,58.33,59.67

In [5]:
# show the bottom of the dataframe
df.tail()

,Period,Country,Area type,Area code,Area name,Sex,Sex code,Age band,Age group,Life expectancy,Lower confidence interval,Upper confidence interval
335155,2021 to 2023,Wales,Country,W92000004,Wales,Female,2,16,70 to 74,16.47,16.40,16.54
335156,2021 to 2023,Wales,Country,W92000004,Wales,Female,2,17,75 to 79,12.76,12.69,12.82
335157,2021 to 2023,Wales,Country,W92000004,Wales,Female,2,18,80 to 84,9.41,9.34,9.47
335158,2021 to 2023,Wales,Country,W92000004,Wales,Female,2,19,85 to 89,6.66,6.60,6.72
335159,2021 to 2023,Wales,Country,W92000004,Wales,Female,2,20,90+,4.48,4.41,4.56

In [11]:
# check the year range
print(df['Period'].max())
print(df['Period'].min())

2021 to 2023
2001 to 2003

In [12]:
# print summary information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335160 entries, 0 to 335159
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Period                     335160 non-null  object
 1   Country                    335160 non-null  object
 2   Area type                  335160 non-null  object
 3   Area code                  335160 non-null  object
 4   Area name                  335160 non-null  object
 5   Sex                        335160 non-null  object
 6   Sex code                   335160 non-null  int64
 7   Age band                   335160 non-null  int64
 8   Age group                  335160 non-null  object
 9   Life expectancy            335160 non-null  float64
 10  Lower confidence interval  335160 non-null  float64
 11  Upper confidence interval  335160 non-null  float64
dtypes: float64(3), int64(2), object(7)
memory usage: 30.7+ MB

In [16]:
# print a random selection of rows to check the data
print(df[5000:5020])

            Period  Country    Area type  Area code Area name   Sex  Sex code  \
5000  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5001  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5002  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5003  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5004  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5005  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5006  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5007  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5008  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5009  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5010  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5011  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5012  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5013  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5014  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5015  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5016  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5017  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5018  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1
5019  2001 to 2003  England  Local Areas  E07000107  Dartford  Male         1

      Age band Age group  Life expectancy  Lower confidence interval  \
5000         1        <1            76.82                      76.12
5001         2  01 to 04            76.10                      75.43
5002         3  05 to 09            72.14                      71.48
5003         4  10 to 14            67.14                      66.48
5004         5  15 to 19            62.28                      61.64
5005         6  20 to 24            57.43                      56.80
5006         7  25 to 29            52.55                      51.92
5007         8  30 to 34            47.74                      47.14
5008         9  35 to 39            42.92                      42.32
5009        10  40 to 44            38.10                      37.51
5010        11  45 to 49            33.32                      32.74
5011        12  50 to 54            28.79                      28.24
5012        13  55 to 59            24.32                      23.79
5013        14  60 to 64            20.09                      19.58
5014        15  65 to 69            16.27                      15.80
5015        16  70 to 74            12.48                      12.04
5016        17  75 to 79             9.34                       8.93
5017        18  80 to 84             6.60                       6.20
5018        19  85 to 89             4.57                       4.13
5019        20       90+             3.48                       2.75

      Upper confidence interval
5000                      77.52
5001                      76.76
5002                      72.80
5003                      67.80
5004                      62.93
5005                      58.06
5006                      53.17
5007                      48.35
5008                      43.51
5009                      38.68
5010                      33.90
5011                      29.35
5012                      24.86
5013                      20.61
5014                      16.74
5015                      12.92
5016                       9.75
5017                       7.00
5018                       5.00
5019                       4.21

# Scottish Health Survey Dataset

In [17]:
# create dataframe from csv
df2 = pd.read_csv(r"scottishhealthsurvey.csv")

In [18]:
# check dataframe shape
print(df2.shape)

(300711, 9)

In [20]:
# show column info
print(df2.columns)

Index(['FeatureCode', 'FeatureName', 'FeatureType', 'DateCode', 'Measurement',
       'Units', 'Value', 'Scottish Health Survey Indicator', 'Sex'],
      dtype='object')

In [21]:
# show the top of the dataframe
df2.head()

,FeatureCode,FeatureName,FeatureType,DateCode,Measurement,Units,Value,Scottish Health Survey Indicator,Sex
0,S08000015,Ayrshire and Arran,Health Board Area,2015-2018,Percent,Percent Of Adults,25.0,Alcohol consumption: Hazardous/Harmful drinker,All
1,S08000015,Ayrshire and Arran,Health Board Area,2015-2018,95% Lower Confidence Limit,Percent Of Adults,23.1,Alcohol consumption: Hazardous/Harmful drinker,All
2,S08000015,Ayrshire and Arran,Health Board Area,2015-2018,95% Upper Confidence Limit,Percent Of Adults,27.7,Alcohol consumption: Hazardous/Harmful drinker,All
3,S08000015,Ayrshire and Arran,Health Board Area,2015-2018,Percent,Percent Of Adults,16.0,Alcohol consumption: Hazardous/Harmful drinker,Female
4,S08000015,Ayrshire and Arran,Health Board Area,2015-2018,95% Lower Confidence Limit,Percent Of Adults,13.3,Alcohol consumption: Hazardous/Harmful drinker,Female

In [22]:
# show the bottom of the dataframe
df2.tail()

,FeatureCode,FeatureName,FeatureType,DateCode,Measurement,Units,Value,Scottish Health Survey Indicator,Sex
300706,S92000003,Scotland,Country,2019-2023,95% Lower Confidence Limit,WEMWBS Score,48.2,Mental wellbeing,Female
300707,S92000003,Scotland,Country,2019-2023,95% Upper Confidence Limit,WEMWBS Score,48.8,Mental wellbeing,Female
300708,S92000003,Scotland,Country,2019-2023,Mean,WEMWBS Score,49.0,Mental wellbeing,Male
300709,S92000003,Scotland,Country,2019-2023,95% Lower Confidence Limit,WEMWBS Score,48.7,Mental wellbeing,Male
300710,S92000003,Scotland,Country,2019-2023,95% Upper Confidence Limit,WEMWBS Score,49.3,Mental wellbeing,Male

In [24]:
# check the year range
print(df2['DateCode'].max())
print(df2['DateCode'].min())

2019-2023
2012-2015

In [25]:
# print summary information
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300711 entries, 0 to 300710
Data columns (total 9 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   FeatureCode                       300711 non-null  object
 1   FeatureName                       300711 non-null  object
 2   FeatureType                       300711 non-null  object
 3   DateCode                          300711 non-null  object
 4   Measurement                       300711 non-null  object
 5   Units                             300711 non-null  object
 6   Value                             300711 non-null  float64
 7   Scottish Health Survey Indicator  300711 non-null  object
 8   Sex                               300711 non-null  object
dtypes: float64(1), object(8)
memory usage: 20.6+ MB

In [26]:
# print a random selection of rows to check the data
print(df2[5000:5020])

     FeatureCode         FeatureName        FeatureType   DateCode  \
5000   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5001   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5002   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5003   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5004   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5005   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5006   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5007   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5008   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5009   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5010   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5011   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5012   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5013   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5014   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5015   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5016   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5017   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5018   S08000015  Ayrshire and Arran  Health Board Area  2016-2019
5019   S08000015  Ayrshire and Arran  Health Board Area  2016-2019

                     Measurement              Units  Value  \
5000  95% Upper Confidence Limit  Percent Of Adults   75.3
5001                     Percent  Percent Of Adults   72.0
5002  95% Lower Confidence Limit  Percent Of Adults   68.1
5003  95% Upper Confidence Limit  Percent Of Adults   75.9
5004                     Percent  Percent Of Adults   13.0
5005  95% Lower Confidence Limit  Percent Of Adults   10.8
5006  95% Upper Confidence Limit  Percent Of Adults   14.6
5007                     Percent  Percent Of Adults   11.0
5008  95% Lower Confidence Limit  Percent Of Adults    8.5
5009  95% Upper Confidence Limit  Percent Of Adults   13.0
5010                     Percent  Percent Of Adults   15.0
5011  95% Lower Confidence Limit  Percent Of Adults   11.9
5012  95% Upper Confidence Limit  Percent Of Adults   18.2
5013                     Percent  Percent Of Adults   58.0
5014  95% Lower Confidence Limit  Percent Of Adults   54.9
5015  95% Upper Confidence Limit  Percent Of Adults   60.6
5016                     Percent  Percent Of Adults   55.0
5017  95% Lower Confidence Limit  Percent Of Adults   51.5
5018  95% Upper Confidence Limit  Percent Of Adults   59.1
5019                     Percent  Percent Of Adults   61.0

                       Scottish Health Survey Indicator     Sex
5000  Fruit & vegetable consumption: Less than 5 por...  Female
5001  Fruit & vegetable consumption: Less than 5 por...    Male
5002  Fruit & vegetable consumption: Less than 5 por...    Male
5003  Fruit & vegetable consumption: Less than 5 por...    Male
5004                Fruit & vegetable consumption: None     All
5005                Fruit & vegetable consumption: None     All
5006                Fruit & vegetable consumption: None     All
5007                Fruit & vegetable consumption: None  Female
5008                Fruit & vegetable consumption: None  Female
5009                Fruit & vegetable consumption: None  Female
5010                Fruit & vegetable consumption: None    Male
5011                Fruit & vegetable consumption: None    Male
5012                Fruit & vegetable consumption: None    Male
5013     General health questionnaire (GHQ-12): Score 0     All
5014     General health questionnaire (GHQ-12): Score 0     All
5015     General health questionnaire (GHQ-12): Score 0     All
5016     General health questionnaire (GHQ-12): Score 0  Female
5017     General health questionnaire (GHQ-12): Score 0  Female
5018     General health questionnaire (GHQ-12): Score 0  Female
5019     General health questionnaire (GHQ-12): Score 0    Male